* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    background: #344a72;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  #container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
  }

  .form-wrap {
    background: #ffff;
    padding: 15px 25px;
    color: #333;
  }

  .form-wrap h1,
  .form-wrap p {
    text-align: center;
  }

  .form-wrap .form-group {
    margin: 15px;
  }

  .form-wrap .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px #ddd solid;
  }

  .form-wrap button {
    width: 100%;
    margin: auto;
    display: block;
    background: #49c1a2;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
  }

  .form-wrap button:hover {
    background-color: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
  }

  footer {
    text-align: center;
    margin-top: 10px;
  }

  footer a {
    color: #49c1a2;
  }