body{
    height: 4000px;
}

.box{
    width: 100px;
    height: 100px;
}

.container{
    width: 500px;
    height: 500px;
    background: #333;
    position: relative;
}

#box-1{
    position: relative;
    top:50px;
    left: 50px;
    background: red;
    z-index: 1;
}
#box-2{
    background: yellow;
    top: 100px;
    left: 100px;
    position: absolute;
}
#box-3{
    background: green;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
#box-4{
    background: blue;
    position: fixed;
}
#box-5{
    background: orange;
    position: sticky;
    top:0
}